@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
/*Mapa*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#body {
  background-image: url(../assets/imagenes/crowd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #0f0e1f;
}

.titulo {
  color: #fff;
  font-size: 50px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.subtitulo {
  color: #fff;
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding-bottom: 10px;
}

li {
  display: inline;
  color: #fff;
  text-decoration: none;
}

.titulo2 {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-size: 70px;
  letter-spacing: 3px;
  padding-top: 50px;
  padding-left: 20px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px black;
}

.texto {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: rgba(15, 14, 31, 0.5);
  margin-left: 40px;
  margin-right: 40px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.texto:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.textobio {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-color: rgba(15, 14, 31, 0.5);
  margin-left: 40px;
  margin-right: 40px;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.textobio:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.textodisc {
  color: #fff;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Mixin */
#footer {
  height: 50px;
  width: 100%;
  bottom: 0%;
}

.titulofooter {
  color: #fff;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 10px;
  letter-spacing: 5px;
}

.redes a:hover {
  color: #808080;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redes a {
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}

header ul {
  text-align: center;
  font-size: 15px;
  font-family: 'Anton', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1b1933;
}

a {
  color: #fff;
  font-family: 'Anton', sans-serif;
  text-decoration: none !important;
  /*Tuve que agregar un important ya que desde que implemente el bootstrap se le agregó un subrayado a los links que no pude sacar de otra manera */
}

a:hover {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #808080;
}

.spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.formulario {
  color: #fff;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  text-shadow: 2px 2px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabla {
  background-color: #1b1933;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.tabla:hover {
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

th, td {
  width: 150px;
  text-align: center;
  border: solid 1px;
  border-color: #1b1933;
  background-color: #1b1933;
  color: #fff;
}

.lugar {
  color: #fff;
  margin-left: 20px;
  font-family: 'Anton', sans-serif;
  text-align: center;
  text-shadow: 2px 2px black;
}

.mapa {
  text-align: center;
  margin-bottom: 30px;
}

.link:hover {
  color: #fff;
  background-color: red;
}

#input {
  height: 30px;
  color: #fff;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
  margin-left: 10px;
  margin-top: 10px;
}

/* Extend */
.boton1, .boton2 {
  margin-bottom: 30px;
  margin-left: 1px;
  display: inline-block;
}

.tom {
  height: 350px;
  float: left;
  border: 1px solid white;
  margin-left: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 380px) {
  ul li {
    font-size: smaller;
    padding: 5px;
    margin-right: -10px;
  }
  .mapa iframe {
    height: 70%;
    width: 70%;
  }
  table {
    width: 90%;
    font-size: 10px;
  }
  .formulario {
    font-size: 20px;
    text-align: center;
  }
  input {
    max-width: 200x;
    width: 80%;
    min-width: 50px;
  }
  .carousel-inner img {
    height: 200px;
    width: 200px;
  }
}
/*# sourceMappingURL=estilos.css.map */