@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

#body {
    background-image: url(../assets/imagenes/crowd.jpg);
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #0f0e1f;
}

.titulo {
    color: white;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.subtitulo {
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

li {
    display: inline;
    color: white;
    text-decoration: none;
}

.titulo2 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    letter-spacing: 3px;
    padding-top: 50px;
    padding-left: 20px;
    text-transform: uppercase;
}

.texto {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: rgb(15, 14, 31, 0.5);
    margin-left: 40px;
    margin-right: 40px;
}

.textobio {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: rgb(15, 14, 31, 0.5);
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
}

.textodisc {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#footer {
    width: 100%;
    height: 50px;
    bottom: 0px;
}

.titulofooter {
    color: white;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 5px;
}

.redes a:hover {
    color: gray;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a {
    color: white;
    transition: color 0.2s;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

header ul {
    text-align: center;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1b1933;
}

a {
    color: white;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
}

a:hover {
    transition: color 0.2s;
    color: gray;
}

iframe {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.formulario {
    color: white;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin-left: 40px;
    margin-top: 20px;
}

.tabla {
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

th, td {
    width: 150px;
    text-align: center;
    border: solid 1px;
    border-color: #1b1933;
    background-color: #1b1933;
    color: white;
}

.lugar {
    color: white;
    margin-left: 20px;
    font-family: 'Anton', sans-serif;
}

.mapouter {
    margin-left: -20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.link:hover {
    color: white;
    background-color: red;
}

#input {
    height: 30px;
    color: white;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
    
}

.boton {
    margin-bottom: 10px;
}

.tom {
    height: 350px;
    float: left;
    border: 1px solid white;
    margin-left: 20px;
}