@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/*Mapa*/

$colores:(blanco:#fff, azul-oscuro: #0f0e1f, azul-claro:#1b1933, gris:#808080);

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#body {
    background-image: url(../assets/imagenes/crowd.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: map-get($colores, azul-oscuro );
}

.titulo {
    color: map-get($colores, blanco );
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.subtitulo {
    color: map-get($colores, blanco );
    font-family: 'Anton', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

li {
    display: inline;
    color: map-get($colores, blanco );
    text-decoration: none;
}

.titulo2 {
    color: map-get($colores, blanco );
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    letter-spacing: 3px;
    padding-top: 50px;
    padding-left: 20px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px black;
}

.texto {
    color: map-get($colores, blanco );
    font-size: 18px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: rgba(15, 14, 31, 0.5);
    margin-left: 40px;
    margin-right: 40px;
    transition: transform 0.3s ease-in-out;
}

.texto:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.textobio {
    color: map-get($colores, blanco );
    font-size: 18px;
    font-family: sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: rgba(15, 14, 31, 0.5);
    margin-left: 40px;
    margin-right: 40px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.textobio:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.textodisc {
    color: map-get($colores, blanco );
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: center;

    animation-name: aparecer;

    animation-duration: 1s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Mixin */

@mixin sizes ($height, $width, $bottom) {
    height: $height;
    width: $width;
    bottom: $bottom;
}

#footer {
    @include sizes(50px, 100%, 0%);
}

.titulofooter {
    color: map-get($colores, blanco );
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 5px;
}

.redes a:hover {
    color: map-get($colores, gris );
}

.redes {
    display: flex;
    justify-content: center;
}

.redes a {
    color: map-get($colores, blanco );
    transition: color 0.2s;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
}

header ul {
    text-align: center;
    font-size: 15px;
    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: map-get($colores, azul-claro );
}

a {
    color: map-get($colores, blanco );
    font-family: 'Anton', sans-serif;
    text-decoration: none !important; /*Tuve que agregar un important ya que desde que implemente el bootstrap se le agregó un subrayado a los links que no pude sacar de otra manera */
}

a:hover {
    transition: color 0.2s;
    color: map-get($colores, gris );
}

.spotify {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.formulario {
    color: map-get($colores, blanco );
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input {
    color: rgb(29, 28, 28) !important;
}

.tabla {
    background-color: map-get($colores, azul-claro );
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.tabla:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

th, td {
    width: 150px;
    text-align: center;
    border: solid 1px;
    border-color: map-get($colores, azul-claro );
    background-color: map-get($colores, azul-claro );
    color: map-get($colores, blanco );
}

.lugar {
    color: map-get($colores, blanco );
    margin-left: 20px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-shadow: 2px 2px black;
}

.mapa {
    text-align: center;
    margin-bottom: 30px;
}

.link:hover {
    color: map-get($colores, blanco );
    background-color: red;
}

#input {
    height: 30px;
    color: map-get($colores, blanco );
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    margin-top: 10px;
}

/* Extend */

.boton1 {
    margin-bottom: 30px;
    margin-left: 1px;
    display: inline-block;
}

.boton2 {
    @extend .boton1
}

.tom {
    height: 350px;
    float: left;
    border: 1px solid white;
    margin-left: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

@media (max-width: 380px) {

    ul li {
        font-size: smaller;
        padding: 5px;
        margin-right: -10px;
    }

    .mapa iframe {
        height: 70%;
        width: 70%;
    }

    table {
        width: 90%;
        font-size: 10px;
    }

    .formulario {
        font-size: 20px;
        text-align: center;
    }

    input {
        max-width: 200x;
        width: 80%;
        min-width: 50px;
    }

    .carousel-inner img{
        height: 200px;
        width: 200px;
    }

}